@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


:root {
  --primary: #4F46E5; /* Indigo 600 */
  --secondary: #6366F1; /* Indigo 500 */
  --accent: #F59E0B; /* Amber 500 */
  --background-light: #F9FAFB; /* Soft White */
  --background-dark: #111827; /* Deep Charcoal */
  --text-light: #1F2937; /* Dark Gray */
  --text-dark: #E5E7EB; /* Light Gray */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-light: var(--background-dark);
    --text-light: var(--text-dark);
  }
}

* {
  
  
}


body {
  background: linear-gradient(to bottom, #030213, #0f0a2d);
  margin: 0;
  padding:0;
  /* background-repeat: no-repeat; */
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
